.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card-title{
  color: black;
}

ion-label{
  font-weight:bold;
}

#likes{
    display: flex;
    justify-content: flex-end;
}

.topo{
  display: flex;
  justify-content: space-between;
}
